    <form class="form" role="form" name="form" method="post"
          ng-submit="submit(form)"
          novalidate>


        <div class="form-group" ng-if="title">
            <label for="title">Title</label>
            <input type="text" class="form-control input-sm"
                   ng-model="title"
                   ng-required="true" ng-minlength="10" ng-maxlength="200"
                   placeholder="title here..."/>
                            <span class="validation"
                                  ng-class="{'validation-error' : form.$submitted && form.title.$invalid}">
                                <span ng-show="form.title.$error.required">title required</span>
                                <span ng-show="form.title.$error.minlength">min length 10</span>
                                <span ng-show="form.title.$error.maxlength">max length 200</span>
                            </span>
        </div>

        <div class="form-group" ng-if="alias">
            <label for="alias">Alias (Optional English title for URL friendly)</label>
            <input type="text" class="form-control input-sm"
                   ng-model="alias"
                   placeholder="URL friendly, usually from title. We will be so happy if you can help system by typing English title, thank you so much."/>
        </div>

        <!--<div class="form-group">-->
            <!--<label>Tags</label>-->
            <!--<input id="txtTags" class="form-controll input-sm" type="hidden"-->
                   <!--th:field="*{tags}"/>-->
                                <!--<span class="validation" ng-class="{'validation-error' :-->
                                <!--form.$submitted && postViewModel.validation.tags.length > 0 }">-->
                                <!--<span ng-repeat="error in postViewModel.validation.tags">{{error}}</span>-->
                        <!--</span>-->
        <!--</div>-->


        <div class="form-group">
            <a class="btn btn-default btn-md" ng-click="bold()">
                <span style="font-weight:bold">B</span>
            </a>

            <a class="btn btn-default btn-md" ng-click="italic()">
                <span style="font-style:italic">i</span>
            </a>

            <a class="btn btn-default btn-md" ng-click="insertLink()">
                <span class="fa fa-link"></span>
            </a>

            <a class="btn btn-default btn-md" ng-click="quote()">
                <span class="fa fa-quote-right"></span>
            </a>

        <span class="dropdown">
            <button class="btn btn-default btn-md dropdown-toggle"
                    type="button" data-toggle="dropdown">font size
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a ng-click="fontSize('h1')">H1</a></li>
                <li><a ng-click="fontSize('h2')">H2</a></li>
                <li><a ng-click="fontSize('h3')">H3</a></li>
            </ul>
        </span>

            <a class="btn btn-default btn-md" ng-click="insertCode()">
                <span>insert code</span>
            </a>

        </div>

        <div class="form-group">
            <div class="text-danger" ng-show="form.$submitted">
                <span ng-show="form.content.$error.required">content required</span>
                <span ng-show="form.content.$error.minlength">min length 5</span>
                <span ng-show="form.content.$error.maxlength">max length 5000</span>
            </div>

        <textarea id="editor"
                  class="form-control textarea-editor"
                  ng-model="content"
                  name="content" ng-required="true"
                  ng-minlength="5" ng-maxlength="5000"
                  ng-disabled="disabled"
                  style="min-height:50px;"></textarea>

        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" ng-disabled="disabled" value="save comment"/>
        </div>

    </form>

