<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email (simple)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:object="${userForgotPasswordResponse}">
    <p>
        Hello <span th:text="*{name}"></span>
    </p>

    <p>
        We are sorry for your incontinence, your new password is
        <br/>
        <br/>
        <strong th:text="*{newPassword}"></strong>
        <br/>
        <br/>
        Please go to "log in page" or click this link
        <strong>
            <a th:href="*{logInUrl}" th:text="*{logInUrl}"></a>
        </strong>
        <br/>
        and log in with the new password.
    </p>

    <p>
        We are looking forward to see you again.
    </p>
    <br/>
    <br/>

    <p>
        Thanks,<br/>
        codesanook team
    </p>
</div>
</body>
</html>