<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="about" class="about-web">
    <ul>
        <li>
        <span class="site-name">codesanook.com</span>
        โคดสนุก สังคมแห่งการเรืยนรู้ แบ่งปันความรู้ ด้าน programming/coding</li>
        <li>สังคมที่ต้องสร้างแนวคิดที่ว่า <strong>"programming/coding ไม่ใช่เรื่องยาก แต่เป็นเรื่องที่สนุก
            เช่นเดียวกับคำที่ว่า <span class="site-name">codesanook สนุกไปกับการเขียนโคด</span>" </strong>
        </li>
        <!--<li>สังคมแห่งการแบ่งปันความรู้จากผู้เชี่ยวชาญแต่ด้านของ programming</li>-->
        <!--<li>สังคมที่เพื่อการพัตนาศักยภาพของ software engineer, programmer</li>-->
        <!--<li>สังคมเพื่อคนรู่นใหม่ที่ต้องการเรียนรู้การสร้าง program, web application, mobile application</li>-->
        <!--<li class="text-right">-->
            <!--<a href="/home/about"> more about codesanook.com</a>-->
        <!--</li>-->
    </ul>
</div>

</body>
</html>