<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="page" class="panel-margin-bottom">
    <div class="text-left">
        <strong>like codesanook to update news and activities</strong>
    </div>
    <!--<div style="width: 85%;margin: 0px auto"></div>-->
    <div class="fb-page" data-href="https://www.facebook.com/codesanookpage"
         data-tabs="timeline"
         data-small-header="true"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/codesanookpage">
                <a href="https://www.facebook.com/codesanookpage">codesanook.com</a>
            </blockquote>
        </div>
    </div>
</div>

</body>
</html>