<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="logo">

      <header class="header">
            <a class="logo" title="codesanook.com" href="http://codesanook.com">
                  <!--<span class="logo-white">Code</span>-->
                  <!--<span class="logo-orange">Sanook</span>-->
            </a>

            <div class="hero">
                  <ul>
                        <li>
                              <strong>codesanook.com</strong>
                              โคดสนุก สังคมแห่งการเรืยนรู้ แบ่งปันความรู้ ด้าน programming/coding</li>
                        <li>สังคมที่ต้องสร้างแนวคิดที่ว่า <strong>"programming/coding ไม่ใช่เรื่องยาก แต่เป็นเรื่องที่สนุก
                              เช่นเดียวกับคำที่ว่า <span class="site-name">codesanook สนุกไปกับการเขียนโคด</span>" </strong>
                        </li>
                  </ul>
            </div>

      </header>
</div>

</body>
</html>