$dark-brown-color: #482f20;
$brown-color: #5e412f;
$light-brown-color :#835b43;
$white-color:#fff;

$light-chocolate-color: #A37E58;
$orange-color:#ED9747;
$light-orange-color:#FEBD79;
$blue-color:#446CB3;
$dark-blue-color:#0B486B;
$vanilla-color:#FCFBE3;
$light-green:#B7D1A3;
$gray-color:#666;
$black-color:#333;
$light-gray-color:#ccc;
$orange-color:  #ed652e;


$nav-bar-base-color:$brown-color;
$menu-link-hover-color:$light-brown-color;
$menu-link-high-light-color:$orange-color;
$menu-active-color:$dark-brown-color;
$logo-color:$brown-color;
$menu-text-color:$white-color;

$content-text-color:$black-color;
$content-highlight-color:$blue-color;
$content-background-color:$white-color;
$content-border-color:$light-gray-color;



