<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>about : codesanook.com</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-10">

            <h1 class="text-center">about codesanook.com</h1>

            <div class="row">

                <div class="col-sm-2"></div>
                <div class="col-sm-8">

                    <h2 class="text-center">vision</h2>

                    <p>
                        one stop service for Thai Software engineers
                    <ul>
                        <li>To know what computer programming is</li>
                        <li>To be passionate</li>
                        <li>To share your idea with others</li>
                        <li>To get the right job</li>
                        <li>Coding is fun, happy and not so difficult thing</li>
                    </ul>
                    </p>


                    <h2 class="text-center">mission</h2>

                    <p>
                        one year mission
                    <ul>
                        <li>
                            focusing on good content
                        </li>
                        <li>
                            quick response to new questions and useful answers
                        </li>
                    </ul>

                    </p>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <h2 class="text-center">How 's codesanook.com happened?</h2>

            <p>
                ในโลกยุคปัจจุบัน เราถูกรายล้อมด้วย technology ต่างๆ มากมาย
                ไม่ว่าจะเป็นโทรศัพท์มือถือ computer เครื่องใช้ฟ้า ยานพาหนะต่างๆ
                โดยที่อุปกรณ์ทุกชนิดเหล่านี้ ล้วนมีสิ่งที่เปรียบเหมือนสมองกล เป็นชุดคำสั่งให้อุปกรณ์เหล่านี้ทำงานได้
                โดยมีผู้ที่สร้างคำสั่งนี้ และใส่เข้าไปในอุปกรณ์นั้นๆ คนเหล่านี้อาจจะมีชื่อเรียกต่างกันในแต่ละบริบทย่อยๆ
                ไม่ว่าจะเป็น developer, programmer, software engineer แต่ผมขอเรียกรวมๆ กันว่า software engineer
                แล้วกันนะครับ
                เพราะผมมองว่าคนกลุ่มนี้เป็นนักสร้างสรรค์ ผู้สร้างนวัตกรรมใหม่ๆ
            </p>

            <p>
                ด้วยเหตุนี้ วงการธุรกิจจึงมีความต้องการ software engineer เป็นอย่างสูง เพื่อสร้างสรรค์ผลิตภัณฑ์ใหม่ๆ
                ตอบสนองความต้องการของผู้บริโภค และช่วยชีวิตของคนให้ดีขึ้น <br/>

                ดังจะเห็นได้จากบริษัทที่สำคัญของโลก ไม่ว่าจะเป็น Microsoft, Google, Apple, Facebook ล้วนถูกขับเคลื่อนจากกลุ่ม software engineer
                กลายเป็นผลิตภัณฑ์หรือ software ให้เราใช้งาน ไม่ว่าจะเป็น Windows, google.com, Android, iPhone, facebook.com

                แต่ประเด็นสำคัญที่หลีกเลี่ยงไม่ได้ก็คือ <strong>"ประเทศไทยขาดแคลน software engineer อย่างมาก"</strong>
                โดยเฉพาะอย่างยิ่งธุรกิจ startup ที่ไม่สามารถจ่ายเงินเดือนสูงๆ ได้
                แต่มีความฝันและพลังอย่างแรงกล้าที่อยากสร้าง software ของคนไทยออกสู่สายตาชาวโลก
            </p>
            codesanook.com จึงเกิดขึ้นด้วย passion ส่วนตัวของผม ที่

            <ul>
                <li>ผมมีความสุขเมื่อได้สร้างเมื่อได้เขียน program แล้วเห็นผลลัพธ์ทันทีว่ามันทำงานได้</li>
                <li> ความสุข ความตื่นเต้นเมื่อผมได้ค้นพบ technology ใหม่ๆ และนำมาใช้ในงานได้อย่างมีประโยชน์</li>
                <li> ความสุข เมื่ออ่านหนังสือ แล้วเข้าใจที่มาที่ไปของ technology นั้นๆ</li>
                <li> ความสุข ที่ได้สอนได้และแบ่งปันความรู้กับเพื่อนๆ ในวงการเดียวกัน</li>
                <li> ความสุขเมื่อเห็นคนมีความสุขกับสิ่งที่เราได้สร้าง</li>
            </ul>

            codesanook.com ต้องการเป็นพื้นที่ ที่ช่วยส่งเสริม eco system ที่สร้างสรรค์ของวงการ software engineer ไทย

            <ul>
                <li> ให้ software engineer ไทย ได้เข้ามาแบ่งปันความรู้ ประสบการณ์</li>
                <li> ได้เข้ามาถามตอบปัญหาข้อสงสัย</li>
                <li> ให้คำปรึกษาน้องๆ นักศึกษาในการพัฒนาความรู้ทักษะของตนเองด้าน programming</li>
                <li> เปิดโอกาสให้กับเด็กๆ เยาวชนคนรุ่นใหม่ในต่างจังหวัดได้รู้จักว่า programming คืออะไร เป็นอย่างไร</li>
                <li> ส่งเสริมให้เยาวชน เริ่ม programming ได้ตั้งแต่ประถม มัธยม</li>
                <li> สร้าง software engineer ไทยให้มีความเชี่ยวชาญ แข็งแกร่ง และสง่าในเวทีโลก</li>
                <li> สร้างทัศนคติที่ถูกต้องกับการ programming ว่าไม่ได้เป็นสิ่งที่ยากเกินไป แต่เป็นสิ่งที่สนุก ตื่นเต้น
                    ท้าทาย
                <li> ส่งเสริมพลังแห่งความคิดเชิงบวก</li>
                <li> ช่วยผลักดันคุณภาพการศึกษาไทย</li>
                </li>

            </ul>
            <p>
            <blockquote>
                ความฝัน หรือความตั้งใจนี้ คงไม่สามารถสำเร็จได้แค่ผมคนเดียว แต่ต้องจากความร่วมมือของพี่น้อง software
                engineer ไทยทุกๆ คน ในการเข้ามาแบ่งปันกันที่ codesanook.com ผมเชื่อเสมอว่า <strong>"เราทำได้"</strong>
            </blockquote>
            </p>

            <p>
                ผมพร้อมรับทุกคนติชม ชี้แนะ ด้วยจิตคารวะ <br/>
                ขอพระเจ้าอวยพรทุกท่านครับ
            </p>

            <br/>
            <br/>
            <br/>

            <p>
                กราบ <br/>
                ธีรานิตย์ พงค์ทองเมือง (แอ๋ม)<br>
                Theeranit Pongtongmuang (Aaron) <br/>
                Jan, 1 2016
            </p>

        </div>

        <div class="col-sm-1"></div>

    </div>
    <!--end row-->


</div>
<!-- end container-->

</body>
</html>