<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>credit | codesanook.com</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 class="text-center">Credit</h1>

            <blockquote>
                Give credit where credit is due<br/>
                These are people who supporting me on the way of creating codesanook.com
            </blockquote>


            <ul class="thanks-list" style="margin-top:50px">
                <li>
                    <strong>Science  Metadilogkul</strong>
                    <span class="thanks-detail">แฟนผู้คอยให้กำลังใจและอยู่เขียงข้างเสมอ อดทนกับสิ่งไม่ดีต่างๆ ในตัวผม</span>
                </li>

                <li>
                    <strong>อาจารย์เอนก กนกอภิวัฒน์</strong>
                    <span class="thanks-detail">ผู้เป็นอาจารย์คอยให้คำปรึกษาแนะนำต่างๆ และสนับสนุน Project มาเสมอ
                        ผู้ทำให้ผมนึกถึงพ่อทุกทีเวลาที่คุยกับอาจารย์</span>
                </li>

                <li>
                    <strong>Thitiwat Hemvimon</strong>
                    <span class="thanks-detail">
                        น้องผู้เชี่ยวชาญด้าน Java และ Google cloud คอยให้คำปรึกษาและชี้แนะแนวทางแห่ง Java
                    </span>
                </li>



                <li>
                    <strong> Pramoth Suwanpech</strong>
                    <span class="thanks-detail">
                        ปรมจารย์แห่ง Java ผู้แนะนำ technic ต่างๆ ของ Java
                    </span>
                </li>


                <li>
                    <strong>  You Saranyu </strong>
                    <span class="thanks-detail">
                       frontend developer ขั้นเทพ ขอบคุณสำหรับ UI สวยๆ ของ codesanook.com
                    </span>
                </li>

                <li>
                    <strong>Anupong Tosaman</strong>
                    <span class="thanks-detail">
                        น้องผู้คอยให้การสนับสนุน support ebook ความรู้ต่างๆ
                    </span>
                </li>

                <li>
                    <strong>Wachhirapong Kamutchat</strong>
                    <span class="thanks-detail">
                        น้องผู้ช่วยทดสอบระบบเสมอ
                    </span>
                </li>




            </ul>
        </div>

        <div class="col-sm-3"></div>
    </div>
    <!--end row-->
</div>
<!-- end container-->

</body>
</html>